.item{
	width: 30%;
	float: left;
	margin: 15px 15px;
	overflow: hidden;
}

.item img{
	width: 100%;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.item:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2) 5s linear;
}