*{
	box-sizing: border-box;
}

body{
	background-color: #90D4CB;
}

.wrap{
	max-width: 1000px;
	margin: auto;
}

#banner{
	max-width: 100%;
	position: relative;
}

#banner img{
	width: 100%;
}

#avatar{
	width: 10%;
	position: absolute;
	top: 150px;
	left: 225px;
	padding: 4px;
}

#avatar img{
	width: 100%;
	border-radius: 50%;
}

#nav{
	width: 100%;
	margin-top: 20px;
	text-align: center;
	display: block;
	float: left;
}

#nav a{
	text-decoration: none;
	background-color: #34495e;
	color: #ffffff;
	padding: 10px 30px;
}

#nav> a:first-of-type{
	border-radius: 5px 0px 0px 5px;
}

#nav> a:last-of-type{
	border-radius: 0px 5px 5px 0px;
}

#nav:hover a{
	opacity: 1;
}

#nav a:hover{
	opacity: 0.5;
	-webkit-transition: opacity: 0.5,;
	-moz-transition: opacity: 0.5,;
	-ms-transition: opacity: 0.5,;
	-o-transition: opacity: 0.5,;
	transition: opacity ease-in-out 0.5;
}

#main-content{
	margin-top: 50px;
}

a.active{
	font-weight: bold;
}