@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/opensans-regular.eot');
	src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-regular.woff2') format('woff2'),
	url('../fonts/opensans-regular.woff') format('woff'),
	url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url('../fonts/opensans-bold.eot');
	src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-bold.woff2') format('woff2'),
	url('../fonts/opensans-bold.woff') format('woff'),
	url('../fonts/opensans-bold.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url('../fonts/opensans-italic.eot');
	src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-italic.woff2') format('woff2'),
	url('../fonts/opensans-italic.woff') format('woff'),
	url('../fonts/opensans-italic.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

body {
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 16px;
	color: #0d0d0d;
}

h1 {
	font-size: 72px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.16em;
}

h3 {
	font-size: 26px;
	color: #000;
	font-weight: 400;
	letter-spacing: 0.05em;
}

h6 {
	font-size: 18px;
	color: #000;
	font-weight: 400;
	letter-spacing: 0.05em;
}

/* <-----------Header----------> */

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

.havemargin {
	margin-top: 50px;
}

/* <-----------NavBar----------> */

.navbar-default {
	background: #24242a;
}

.navbar-default .navbar-header {
	width: 100%;
	padding-right: 0;
	margin-left: 0;
}

.navbar-default .navbar-header .navbar-brand {
	height: auto;
}

.navbar-default .navbar-header .navbar-brand img {
	width: 52px;
	height: 52px;
}

.navbar-default .nav-wrap {
	width: 100%;
}

.navbar-default .nav > li > a {
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 10px;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
	color: #a3a3a3;
}

.navbar-default .navbar-toggle {
	padding-top: 25px;
	padding-bottom: 25px;
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
	background: none;
}

.navbar-default .navbar-left,
.navbar-default .navbar-right {
	float: none;
}

.navbar-default .navbar-toggle {
	display: block;
}

.navbar-default .navbar-collapse {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-default .navbar-collapse.collapse {
	display: none;
}

.navbar-default .navbar-nav {
	float: none;
	margin-top: 7.5px;
}

.navbar-default .navbar-nav > li {
	float: none;
}

.navbar-default .collapse.in {
	display: block;
}

.icon-md {
	display: none;
}

.nav-icon img {
	width: 26px;
}

.nav-icon {
	width: 100%;
	text-align: center;
	margin: 20px auto;
	height: auto;
	padding: 0 2em 0.5em;
}

.nav-icon ul {
	margin-bottom: 0;
}

.nav-icon ul li {
	list-style: none;
	display: inline-block;
	margin: 5px 3px 3px;
}

.nav-icon ul li span {
	display: none;
	color: #fff;
}

/* <-----------/NavBar----------> */

/* <-----------Slide----------> */

#slide {
	overflow: hidden;
	display: block;
	opacity: 1;
}

#slide .item {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slide .slide1 {
	background-image: url(../images/Slide.jpg);
}

#slide .slide2 {
	background-image: url(../images/Slide2.jpg);
}

#slide .slide3 {
	background-image: url(../images/Slide3.jpg);
}

#slide .item .caption {
	position: absolute;
	top: 50%;
	margin-top: -104px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 15;
}

#slide .item .caption h6 {
	color: #fff;
	margin: 0;
	font-size: 16px;
}

#slide .item .caption h1 {
	margin-top: 40px;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 42px;
	color: #fff;
}

#slide .item .caption h1 span {
	font-weight: 700;
}

#slide .btn {
	margin-top: 20px;
}

.btn-transparent {
	background-color: transparent;
	border: 3px solid #fff;
	padding: 15px 30px;
	font-size: 14px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
	letter-spacing: 0.05em; /*tăng khoảng cách giữa các chữ*/
	text-transform: uppercase;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn.transparent:active {
	background-color: #fff;
	color: #0d0d0d;
	text-decoration: none;
}

.btn-light {
	background-color: #fff;
	border: 3px solid #fff;
	padding: 15px 30px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #0d0d0d;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
	background-color: transparent;
	color: #fff;
	text-decoration: none;
}

#slide .owl-pagination {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	bottom: 5%;
}

#slide .owl-pagination .owl-page.active span {
	background-color: #fff;
}

#slide .owl-pagination .owl-page span {
	border: 2px solid #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: transparent;
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

#slide .owl-buttons div {
	background-color: #fff;
	font-size: 24px;
	color: #a3a3a3;
	opacity: 1;
}

#slide .owl-buttons .owl-prev {
	left: -60px;
}

#slide .owl-buttons .owl-next {
	right: -60px;
}

#slide .owl-buttons .owl-prev,
#slide .owl-buttons .owl-next {
	position: absolute;
	background-color: #fff;
	top: 50%;
	width: 51px;
	height: 51px;
	line-height: 45px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #fff;
	z-index: 20;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#slide:hover .owl-prev {
	left: -5px;
}

#slide:hover .owl-next {
	right: -5px;
}

/* <-----------/Slide----------> */

/* <-----------/Header----------> */

/* <-----------Content----------> */

/* <-----------Category----------> */

.category {
	background-image: url(../images/cate.jpg);
	background-size: contain;
	padding-top: 2em;
	padding-bottom: 2em;
}

.row {
	margin: 0 0;
}

.category .categorie-grids {
	min-height: 290px;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.category .grid1 {
	background-image: url(../images/c1.jpg);
	background-repeat: no-repeat;
	background-position: center; /*Cho hình nền vào giữa*/
}

.category .grid2 {
	background-image: url(../images/c2.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.category .grid3 {
	background-image: url(../images/c3.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.category h3, .product h3, .feedback h3, .blogIndex h3 {
	font-family: 'Open Sans Bold';
	text-align: center;
	text-transform: uppercase;
}

.categorie-grids h4 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30%;
	font-weight: 600;
	font-size: 14px;
}

.categorie-grids p {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

.thumbnail {
	vertical-align: middle;
	margin-left: 40px;
	margin-right: 40px;
}

/* <-----------/Category----------> */

/* <-----------Product----------> */

.product {
	padding-top: 2em;
	padding-bottom: 2em;
}

.product-grids {
	margin: 2em auto;
	padding-left: 0;
	padding-right: 0;
}

#flexiselProduct {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {	
	cursor:auto;
	position: relative;
	width: 90%;
	margin: 0 5%;
}

/* <-----------/Product----------> */

/* <-----------Feedback----------> */

.feedback {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	padding-top: 2em;
	padding-bottom: 2em;
}

#fb {
	overflow: hidden;
	display: block;
}

.fb-container {
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgba(0, 0, 10, 0.6) none repeat scroll 0 0;
	margin: 2em auto;
	width: 80%;
}

.fb-container img {
	margin: 0 auto;
	width: 150px;
	border-radius: 50%;
}

.fb-container h4 {
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}

.fb-container p {
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
}

#fb .owl-pagination {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	bottom: 0;
}

#fb .owl-pagination .owl-page.active span {
	background-color: #fff;
}

#fb .owl-pagination .owl-page span {
	border: 2px solid #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: transparent;
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

#fb .owl-buttons div {
	display: none;
}


/* <-----------/Feedback----------> */

/* <-----------Blog Index----------> */

.blogIndex {
	padding-top: 2em;
	padding-bottom: 2em;
}

#indexBlog {
	display: block;
}

.blogIndex h3 {
	margin-bottom: 1.5em;
}

.blogBox img {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.blogBox {
	padding: 1em 1em;
	border: 1px solid #cccccc;
}

.blogBox-shortdes {
	padding-bottom: 2em;
}

.blogBox .blogBox-shortdes h4, {
	text-align: center;
	font-weight: 600;
	font-family: 'Open Sans Bold';
	font-size: 16px;
	text-transform: uppercase;
}

.blogBox .blogBox-shortdes h4 a {
	color: #000;
	text-decoration: none;
}

.blogBox .blogBox-shortdes p {
	font-family: 'Open Sans Regular';
	font-size: 15px;
}

.blogBox .blogBox-shortdes span {
	display: block;
	float: right;
	font-family: 'Open Sans Italic';
	font-size: 15px;
}

.blogBox .blogBox-detail .btn-primary {
	background-color: #fff;
	border: 1px solid #000;
	padding: 5px 10px;
	font-size: 14px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
	letter-spacing: 0.05em; /*tăng khoảng cách giữa các chữ*/
	text-transform: uppercase;
}

#indexBlog .owl-pagination {
	display: none;
}

#indexBlog .owl-buttons div {
	display: none;
}

/* <-----------/Blog Index----------> */

/* <-----------Product----------> */

.product-cate .product-cate-title h3, .product-price-title h3 {
	text-align: center;
	width: 100%;
}

.product-cate .product-menu {
	list-style: none;
	margin: 10px 0;
}

.product-cate .product-menu > li > a {
	width: 100%;
	margin: 5px 0;
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.product-cate .product-menu > li > a:hover {
	color: #ff5d56;
}

.product-right {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.product-right h3 {
	margin-bottom: 40px;
}

.product-right .product-box {
	padding-bottom: 30px;
}

.product-box .product-img {
	margin-bottom: 30px;
}

.product-box .product-img:hover {
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

.product-box .product-cost {
	background: #b7b7b7;
	padding: 10px 10px;
}

.product-box .product-cost .product-model {
	float: left;
	width: 50%;
}

.product-box .product-cost .product-model h4{
	color: #000;
	font-size: 16px;
	font-weight:500;
}

.product-box .product-cost .product-model p{
	color: #000;
	font-size: 16px;
	font-family: 'Open Sans Bold';
	font-weight: 500;
}


.product-box .product-cost .product-model p::after {
	content: " VND";
}

.product-box .product-cost .product-cart {
	width: 50%;
	float: left;
	text-align: right;
}

.btn-buy {
	background-color: #777;
	color: #fff;
	font-size: 16px;
	padding: 8px 15px;
	text-transform: uppercase;
	text-decoration: none;
	display:inline-block;
	text-align: center;
	margin-top: 15px;
}

.btn-buy:hover {
	background-color: #000;
	color: #fff;
}

.product-pagination li a {
	color: #000;
	border: 1px solid #000;
}

.product-pagination .active > a {
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}

.product-pagination .active:hover > a, .product-pagination li a:hover {
	background-color: #bdc3c7;
	color: #000;
	border: 1px solid #000;
}

/* <-----------/Product----------> */

/* <-----------Single----------> */

.product-detail h4, .related-product h4 {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.product-detail span, .related-product span {
	color: #FF004C;
	font-size: 20px;
	font-family: 'Open Sans Bold';
	font-weight: 600;
	display: inline-block;
	padding: 10px 0;
}

.product-detail span::after, .related-product span::after {
	content: " VND";
}

.product-detail p {
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	text-align: justify all;
}

.product-detail p a {
	text-decoration: none;
	padding: 5px 7px;
	color: #fff;
	background-color: #000;
	margin-right: 5px;
}

.product-detail-buy {
	margin: 30px auto;
	padding-left: 20px;
}

.btn-bn, .btn-atc {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
	border: 2px solid #000;
}

.btn-bn:hover, .btn-atc:hover {
	background-color: #fff;
	color: #000;
}

#related-product-container {
	overflow: hidden;
	display: block;
}

.related-product-box {
	padding-top: 20px;
	padding-bottom: 20px;
}

#related-product-container .owl-pagination {
	display: none;
}

#related-product-container .owl-buttons div {
	display: none;
}

.related-product-box {
	padding-left: 0;
	padding-right: 0;
}

.related-product h4 {
	padding: 5px 5px;
	background-color: #d9d9d9;
}

.related-product-info {
	padding: 30px 0;
}

.related-product-info label {
	font-size: 16px;
	font-family: 'Open Sans Bold';
	font-weight: bold;
}

.related-product-info p {
	font-size: 14px;
	text-align: justify-all;
}

/* <-----------/Single----------> */

/* <-----------Blog----------> */

.blog-content {
	padding: 50px 0;
}

.blog-item {
	padding: 15px 15px;
}

.blog-item-box {
	padding: 15px 15px;
	border: 1px solid #d9d9d9;
}

.blog-item-box:hover img {
	opacity: 0.7;	
}

.blog-item-box h3 {
	font-family: 'Open Sans Bold';
}

.blog-item-box h3 a, .blog-content-box p a {
	color: #000;
	text-decoration: none;
}

.blog-item-box p {
	text-align: justify;
	font-size: 14px;
}

.blog-item-box span {
	display: block;
	float: right;
	font-size: 14px;
}

.archives {
	padding: 15px 15px;
}

.archives h3 {
	padding: 10px;
	background-color: #000;
	margin: 0 auto;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
}

.archives ul {
	padding: 0;
	margin-top: 8%;
}

.archives ul li {
	list-style-image: url(../images/dot.png);
	text-align: left;
	margin-bottom: 10px;
	margin-left: 20px;
}

.archives ul li a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
}

/* <-----------/Blog----------> */

/* <-----------/Content----------> */

/* <-----------Footer----------> */

.footer {
	background-color: #24242a;
	padding-top: 2em;
	padding-bottom: 2em;
}

.footer-left {
	text-align: center;
	margin-bottom: 20px;
}

.footer-left img {
	margin-bottom: 20px;
}

.footer-left h1 {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}

.footer-left .social a {
	margin-left: 10px;
}

.footer-middle {
	margin-bottom: 20px;
}

.footer-middle .contact-img {
	float: left;
	overflow: hidden;
	margin-right: 10px;
}

.footer-middle .contact-info {
	float: left;
	color: #fff;
	overflow: hidden;
}

.footer-middle .contact-info p span {
	font-size: 15px;
}

.footer-middle .contact-info p span a{
	color: #fff;
}

.footer-right h3 {
	margin-top: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
}

.footer-right p {
	color: #fff;
	font-size: 15px;
}

.footer-right input[type="text"] {
	font-size: 15px;
	padding: 5.35px;
}

.footer-right input[type="submit"] {
	background: #C7C7C7;
	padding: 7px 15px;
	border: none;
	cursor: pointer;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}

/* <-----------/Footer----------> */

@media (min-width: 768px) and (max-width: 991px) {

	.havemargin {
		margin-top: 100px;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:active {
		background: none;
	}

	.navbar-default .navbar-left,
	.navbar-default .navbar-right {
		float: none;
	}

	.navbar-default .navbar-toggle {
		display: block;
	}

	.navbar-default .navbar-collapse {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-default .navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-default .navbar-nav {
		float: none;
		margin-top: 7.5px;
	}

	.navbar-default .navbar-nav > li {
		float: none;
	}

	.navbar-default .collapse.in {
		display: block !important;
	}

	.product-right h3 {
		margin-bottom: 80px;
	}
	
}

@media (min-width: 992px) {

	.havemargin {
		margin-top: 100px;
	}

	.navbar-default .navbar-header {
		width: 28%;
		padding-right: 15px;
	}
	.navbar-default .nav-wrap {
		width: 50%;
	}

	.navbar-default .navbar-toggle {
		display: none;
	}

	.navbar-default .navbar-collapse.collapse {
		display: block !important;
	}

	.navbar-default .navbar-nav {
		margin-top: 7.5px;
	}

	.navbar-default .navbar-nav > li {
		float: left;
	}

	.navbar-default .collapse.in {
		display: none !important;
	}

	.icon-md {
		display: block;
	}

	.nav-icon ul li {
		margin: 5px 7px 3px;
	}

	.fb-container {
		width: 40%;
	}

	.nav-icon ul li span {
		display: inline-block;
		margin-top: 10px;
	}

	.nav-icon ul li img {
		margin-right: 10px;
	}

	.nav-icon ul li a {
		color: #000;
	}

	.navbar-default .icon-md {
		float: right;
		padding: 0 20px;
	}

	.hide-md {
		display: none;
	}

	.product-right h3 {
		margin-bottom: 100px;
	}

	.product-box .product-img {
		height: 180px;
	}

	.product-right .product-box {
		padding-left: 15px;
		padding-right: 15px;
	}

	#related-product-container .owl-buttons div {
		display: block;
		background-color: #fff;
		font-size: 24px;
		color: #a3a3a3;
		opacity: 1;
	}

	#related-product-container .owl-buttons .owl-prev {
		left: -60px;
	}

	#related-product-container .owl-buttons .owl-next {
		right: -60px;
	}

	#related-product-container .owl-buttons .owl-prev,
	#related-product-container .owl-buttons .owl-next {
		position: absolute;
		background-color: transparent;
		top: 50%;
		width: 51px;
		height: 51px;
		line-height: 45px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		border: 1px solid #000;
		z-index: 20;
		text-align: center;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	#related-product-container:hover .owl-prev {
		left: -5px;
	}

	#related-product-container:hover .owl-next {
		right: -5px;
	}

}