h5 {
	text-align: center;
	padding-top: 5px;
/*	color: #fff;*/
}

.card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ui state hightlight {
	background-color: #fafafa;
	height: calc(1.5rem + 20px);
}
.sorted-list a
{
	float: right;
	margin-left: 10px;

}

.sorted-list .list {
	padding: 10px 25px;
	margin-bottom: 0px;
}
.sorted-list .edit
{
	width: 10%;
	color: white;
	padding: 10px;
	background-color: #d934aa;
	border-radius: 4px;
	font-size: 10px;
}
.sorted-list .next
{
	width: 10%;
	color: white;
	padding: 10px;
	background-color: #31b0d5;
	border-radius: 4px;
	font-size: 10px;

}
.sorted-list .del
{
	width: 10%;
	color: white;
	padding: 10px;
	background-color: #d9534f;
	border-radius: 4px;
	font-size: 10px;
}
.btn-sm
{
	margin-top: 10px;
	border: 0px;
}
